<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerfileRelativePath>..\..\Dockerfile</DockerfileRelativePath>
    <DockerServerUrl>tcp://192.168.99.100:2376</DockerServerUrl>
    <DockerImageName>rdbrainsdemocatalog</DockerImageName>
    <DockerPublishHostPort>5001</DockerPublishHostPort>
    <DockerPublishContainerPort>5001</DockerPublishContainerPort>
    <DockerAuthOptions>--tlsverify --tlscacert="C:\\Users\\scyaq02\\.docker\\machine\\certs\\ca.pem" --tlscert="C:\\Users\\scyaq02\\.docker\\machine\\certs\\cert.pem" --tlskey="C:\\Users\\scyaq02\\.docker\\machine\\certs\\key.pem"</DockerAuthOptions>
    <PublishProvider>Docker</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <CompileSource>False</CompileSource>
    <_DefaultDNXVersion>dnx-clr-win-x86.1.0.0-rc1-update1</_DefaultDNXVersion>
    <UsePowerShell>True</UsePowerShell>
    <IISCommand>web</IISCommand>
    <WebRoot>wwwroot</WebRoot>
    <WwwRootOut>wwwroot</WwwRootOut>
    <IncludeSymbols>False</IncludeSymbols>
    <Native>False</Native>
    <IgnoreDNXRuntime>True</IgnoreDNXRuntime>
    <PublishPreviewUrl>tcp://192.168.99.100:2376</PublishPreviewUrl>
    <publishMethod>Docker</publishMethod>
    <profileName>CustomDockerProfile</profileName>
    <DockerAppType>Web</DockerAppType>
    <DockerBuildOnly>False</DockerBuildOnly>
    <DockerRemoveConflictingContainers>True</DockerRemoveConflictingContainers>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
  </PropertyGroup>
</Project>